.bg_test-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_test {
    text-align:  center;    /* 文字中央寄せ */

    height:660px;
    margin-top: 40px;
    /* padding:  150px;        余白指定 */

    border: solid 2px;      /* 枠線指定 */
    background-image: url(img/);    /* 背景画像指定 */
}


body{
    background-color: aliceblue;
    /* background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background-size: 500% 500%; */
}

/* @font-face { */
  /* font-family: '任意のフォント名'; //好きな名前を設定します。 */
  /* src: url('フォントファイルへのパス') format('フォントの形式'); } */


h1 {
    font-size:30px;
}

h2 {
    font-size:24px;
}

